[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target